<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.241016.32119" targetFramework="net48" />
  <package id="_nilnul_._LINQ_" version="1.1.241016.32253" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.23.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.8.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.8.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.8.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform" version="1.8.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.8.0" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.AdapterUtilities" version="17.14.1" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.14.1" targetFramework="net48" />
  <package id="MSTest.Analyzers" version="3.10.0" targetFramework="net48" developmentDependency="true" />
  <package id="MSTest.TestAdapter" version="3.10.0" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="3.10.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="nilnul._bit_._LIB_" version="1.1.250417.141758" targetFramework="net48" />
  <package id="nilnul._character_._LIB_" version="2.1.250403.154606" targetFramework="net48" />
  <package id="nilnul._num_._LIB_" version="1.1.250804.164855" targetFramework="net48" />
  <package id="nilnul._obj_._LIB_" version="1.2.250804.161140" targetFramework="net48" />
  <package id="nilnul._rel_._LIB_" version="1.2.250424.44336" targetFramework="net48" />
  <package id="nilnul._set_._LIB_" version="1.1.250118.94723" targetFramework="net48" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.250329.142625" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="9.0.7" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.7" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="9.0.7" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
</packages>