<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.230415.182959-sym" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.230219.73454-sym" targetFramework="net481" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.230415.233652-sym" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.230408.121401-sym" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.230504.90116-sym" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.230419.172425-sym" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.230504.90156-sym" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.230318.123603-sym" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.230321.135854-sym" targetFramework="net481" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.220728.140313" targetFramework="net481" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.230504.132916-sym" targetFramework="net481" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
</packages>