<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.0.8181.34397" targetFramework="net48" />
  <package id="_nilnul_._LINQ_" version="1.0.8100.39202" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="nilnul._bit_._LIB_" version="1.0.8186.38808" targetFramework="net48" />
  <package id="nilnul._num_._LIB_" version="1.0.8219.41091" targetFramework="net48" />
  <package id="nilnul._num_._LINQ_" version="1.0.8186.37898" targetFramework="net48" />
  <package id="nilnul._obj_._LIB_" version="1.0.8222.36466" targetFramework="net48" />
  <package id="nilnul._rel_._LIB_" version="1.1.8208.38024" targetFramework="net48" />
  <package id="nilnul._set_._LIB_" version="1.0.8186.39447" targetFramework="net48" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.0.8187.507" targetFramework="net48" />
  <package id="nilnul.num._integer_._LIB_" version="1.0.8220.34987" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
</packages>